.cover {
    width: 100%;
    height: 320px;
    position: relative;
    margin-bottom: $padding-base;

    @include overlay($overlay);

    @include media($tablet) {
        height: 480px;
    }

    @include media($desktop) {
        height: 640px;
        margin-bottom: $padding-large;
    }
}

.page-content {
    @include margin(0 auto $padding-large);
    max-width: $tablet-size;

    @include media($tablet) {
        padding: 0 $padding-large;
    }
}
