.cover {
    width: 100%;
    height: 320px;
    background-image: url('/assets/img/forest.jpg');
    text-align: center;
    position: relative;
    background-position: center center;
    background-size: cover;
    margin-bottom: $padding-base;

    &:before {
        content: '';
        @include position(absolute, 0);
        background-color: $overlay;
    }

    @include media($tablet) {
        height: 480px;
    }

    @include media($desktop) {
        height: 640px;
        margin-bottom: $padding-large;
    }
}

.logo {
    @include vertical-align(relative);
    padding: $padding-base;

    &__title {
        font-size: 1.25em;
        margin: 0;
        color: white;
        padding: $padding-small;
        border: 3px solid white;
        display: inline-block;
        background: transparentize(white, 0.9);
        text-shadow: 0 1px 5px transparentize(black, 0.75);
        box-shadow: 0 1px 5px  transparentize(black, 0.75);
    }
}

.content {
    @include margin(0 auto $padding-large);
    max-width: $tablet-size;

    @include media($tablet) {
        padding: 0 $padding-large;
    }
}
