.gallery {
    list-style: none;
    margin: 0 auto $padding-base;
    padding: 0;
    max-width: $tablet-size;

    &__item {
        padding: $padding-small;
    }

    &__image {
        width: 100%;
    }
}

.grid {
    &__sizer,
    &__item {
        width: 100%;
    }

    @include media($tablet) {
        &__sizer,
        &__item {
            width: 50%;
        }
    }

    @include media($desktop) {
        &__sizer,
        &__item {
            width: 33%;
        }
    }
}
